<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Reporte</title>
	<style>
		body {
		font-family: 'Helvetica';
		font-size: 14px;
		color: #3F5B71;
	}
	html {
		text-align: center;
		width: 100%;
	}
	body {
		display: inline-block;
		margin: 0px auto;
		text-align: left;
		width: 90%;
	}
	h3 {
		color: #f19122;
		margin-left: 20px;
		margin-right: 20px;
		font-size: 1.1em;
	}
	h4 {
		margin: 10px 0;
	}
	.field {
		/*margin-left: 20px;*/
		margin: 10px 0;
	}
	.formHeaders {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
	}
	.formHeader {
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
	}
	.label {
		display: inline-block;
		font-weight: bold;
		/*text-align: justify;*/
		vertical-align: middle;
	}
	.labelChecklist {
		display: inline-block;
		font-weight: bold;
		margin-left: 10px;
		max-width: 86%;
		margin-top: 2px;
		/*text-align: justify;*/
	}
	.suggestion {
		display: block;
		margin-left: 60px;
		margin-top: 5px;
		color: gray;
		text-align: justify;
		text-justify: inter-word;
	}
	.value {
		/*color: #4078c0;*/
		display: inline-block;
		margin-left: 15px;
		text-align: justify;
		vertical-align: middle;
	}
	.value.icon {
		display: inline-block;
		max-width: 100%;
		max-height : 100%;
	}
	.value.images {
		display: block;
	}
	.check {
		width: 17px;
	}
	.checklist {
		display: inline-block;
		margin-bottom: 15px;
		margin-top: 10px;
		vertical-align: top;
		width: 99%;
	}
	.maps {
		margin-left: 20px;
		margin-bottom: 20px;
		display: inline-block;
	}
	.pictures {
		width: 100%;
		/*display: block;*/
		/*margin-bottom: 15px;*/
		margin: 10px auto;
		/*margin-left: 20px;*/
	}
	.picture {
		display: inline-block;
		margin: 0 .5%;
		vertical-align: top;
		width: 23.3%;
		/*border: 1px  blue solid;*/
	}
	.pictureComment {
		max-width: 250px;
		color: gray;
		text-align: justify;
		text-justify: inter-word;
	}
	.general-comments {
		margin-left: 15px;
		text-align: justify;
	}
	.wpi-60 {
		width: 60px;
	}
	.wpi-80 {
		width: 80px;
	}
	.wpi-100 {
		width: 100px;
	}
	.wpi-120 {
		width: 120px;
	}
	.wpi-140 {
		width: 140px;
	}
	.wpi-160 {
		width: 160px;
	}
	.wpi-180 {
		width: 180px;
	}
	.wpe-30 {
		width: 30%;
	}
	.mw-70 {
		max-width: 65%;
	}
	.ml-50 {
		margin-left: 50px;
	}
	.right-content {
		display: inline-block;
		vertical-align: top;
		width:45%;
	}
	.left-content {
		display: inline-block;
		vertical-align: top;
		margin-left: 1%;
		width: 45%;
	}
	.checklistTable {
		display: inline-block;
		width: 32.9%;
		margin-bottom: 20px;
		vertical-align: top;
	}
	.picsField {
		margin: 20px 0;
	}
	.picLabel {
		display: inline-block;
		width: 25%;
	}
	.commentValue {
		display: inline-block;
		width: 74%;
		vertical-align: top;
		text-align: justify;
	}
	.icon-section {
		width: 30px;
	}
	h5 {
		font-size: 1em;
	}
	table {
	  border-collapse: collapse;
	  width: 100%;
	  margin: 20px 0px;
	}
	table td, th {
		padding: 10px;
		max-width: 100px;
	}
	table td, table th {
	  border: 1px dashed;
	}
	table tr:first-child th {
	  border-top: 0;
	}
	table tr:last-child td {
	  border-bottom: 0;
	}
	table tr td:first-child,
	table tr th:first-child {
	  border-left: 0;
	}
	table tr td:last-child,
	table tr th:last-child {
	  border-right: 0;
	}
	table th, td {
    text-align:center; 
    vertical-align:middle;
	}
	.logo {
		width: 130px;
		margin-bottom: 15px;
	}
	</style>
</head>
<body>
	<div style="margin: 10px 0;">
		<img src="logo_belltech.jpg" alt="logo_belltech" class="logo">
		<hr>
		<h3>INFORMACIÓN GENERAL</h3>
		<div class="formHeaders">
			<div class="formHeader">
				<div class="field ">
					<div class="label wpi-140">Cliente:</div>
					<div class="value wpi-170">Nombre cliente</div>
				</div>
				<div class="field ">
					<div class="label wpi-140">Técnico:</div>
					<div class="value wpi-170">Nombre Apellido</div>
				</div>
				<div class="field ">
					<div class="label wpi-140">Nombre receptor:</div>
					<div class="value wpi-170">Nombre Apellido</div>
				</div>
				<!-- <div class="field ">
					<div class="label wpi-140">Fecha programada:</div>
					<div class="value wpi-170"><%= @report.created_at.strftime("%d/%m/%Y") %> <%= @report.created_at.in_time_zone("Santiago").strftime("%I:%M %p") %></div>
				</div> -->
				<div class="field ">
					<div class="label wpi-140">Fecha asignación:</div>
					<div class="value wpi-170">dd-MM-YYYY</div>
				</div>
				<div class="field ">
					<div class="label wpi-140">Fecha programada:</div>
					<div class="value wpi-170">dd-MM-YYYY</div>
				</div>
				<div class="field">
					<div class="label wpi-140">Fecha ejecución:</div>
					<div class="value wpi-170">dd-MM-YYYY</div>
				</div>
			</div>
			<div class="formHeader">
				<div class="field ">
					<div class="label wpi-120">Clase:</div>
					<div class="value">Clase</div>
				</div>
				<div class="field">
					<div class="label wpi-120">Número de serie:</div>
					<div class="value">000-000-00</div>
				</div>
				<div class="field">
					<div class="label wpi-120">Modelo equipo:</div>
					<div class="value">00-00-00-000</div>
				</div>
				<div class="field">
					<div class="label wpi-120">Estado:</div>
					<div class="value">Inactivo</div>
				</div>
				<div class="field">
					<div class="label wpi-120">Tipo actividad:</div>
					<div class="value">Tipo 3</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h3>GEOLOCALIZACIÓN</h3>
	<div>
		<div class="map left-content">
			<img src="http://maps.googleapis.com/maps/api/staticmap?&maptype=roadmap&zoom=15&size=500x230&markers=size:mid%7Ccolor:blue%7C<%='#{ @report.dynamic_attributes['sections'][0]['data_section'][0]['map_location']['latitude']}, #{@report.dynamic_attributes['sections'][0]['data_section'][0]['map_location']['longitude']}' %>" style="width: 100%;" />
		</div>

		<div class="right-content">
			<div class="formHeader">
				<div class="field ">
					<div class="label wpi-80">Dirección:</div>
					<div class="value wpi-170">Andrés Bello 2230</div>
					<!-- <div class="value wpi-170"><%= "#{ @report.dynamic_attributes['sections'][0]['data_section'][2]['address_location']['address']}" %></div> -->
				</div>
				<div class="field ">
					<div class="label wpi-80">Región:</div>
					<div class="value wpi-170">Metropolitana</div>
					<!-- <div class="value wpi-170"><%= "#{ @report.dynamic_attributes['sections'][0]['data_section'][2]['address_location']['region']}" %></div> -->
				</div>
				<div class="field ">
					<div class="label wpi-80">Comuna:</div>
					<div class="value wpi-170">Providencia</div>
					<!-- <div class="value wpi-170"><%= "#{ @report.dynamic_attributes['sections'][0]['data_section'][2]['address_location']['comuna']}" %></div> -->
				</div>
				<div class="field">
					<div class="label wpi-80">Referencia:</div>
					<div class="value wpi-170">Esquina con Tobalaba</div>
					<!-- <div class="value wpi-170"><%= "#{ @report.dynamic_attributes['sections'][0]['data_section'][2]['address_location']['comuna']}" %></div> -->
				</div>
			</div>
		</div>
	</div>

	<hr>
	
	<div class="content">

		<section id="checklist">
			<h3>CHECKLIST</h3>

			<table>
				<thead>
					<tr>
				    <th>Item</th>
				    <th>Cumple</th>
				    <th>No cumple</th>
				    <th>No aplica</th>
				    <th>Observación</th>
				  </tr>
				</thead>
				<tbody>
					<tr>
						<td>Item</td>
						<td><img class="check" src="http://d21zid65ggdxzg.cloudfront.net/801C65B140A965F51FD49B476D9219F4.png" alt="check_v" /></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Item</td>
						<td></td>
						<td><img class="check" src="http://d21zid65ggdxzg.cloudfront.net/768AF9B25098A450CD52CD5B6339D3E8.png" alt="check_x" /></td>
						<td></td>
						<td>Lorem ipsum y blds sdf fds sfdah blah Lorem ipsum y blah blah Lorem ipsum y blah blah Lorem ipsum y blah blah Lorem ipsum y blah blah Lorem ipsum y blah blah Lorem ipsum y blah blah Lorem ipsum y blah blah </td>
					</tr>
					<tr>
						<td>Item</td>
						<td></td>
						<td></td>
						<td><img class="check" src="http://d21zid65ggdxzg.cloudfront.net/31470FC64690594C24D668A7808EF1AF.png" alt="check_x" /></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</section>

		<hr>

		<section id="photos">
			<h3>FOTOS</h3>

			<div class="pictures">
				<div class="picture">
					<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" width="100%" />
					<p>comentario asdkbai adskj adsk h oijads hdshdas</p>
				</div>
				<div class="picture">
					<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" width="100%" />
					<p>comentario asdkbai adskj adsk h oijads hdshdas</p>
				</div>
				<div class="picture">
					<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" width="100%" />
					<p>comentario asdkbai adskj adsk h oijads hdshdas</p>
				</div>
				<div class="picture">
					<img src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg" width="100%" />
					<p>comentario asdkbai adskj adsk h oijads hdshdas</p>
				</div>
			</div>
		</section>

	</div>
</body>
</html>